.userContainer {
    padding: 20px;
    margin: 15px 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
    color: forestgreen;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.title:hover {
    color: darkgreen;
}

.info {
    color: grey;
    margin: 5px 0;
}

.errorMessage {
    color: red;
    font-size: 1em;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
